

.button {
    border-radius: 4px;
    border-width: 2px 2px 2px 2px;
    border-color: darkgrey;
    color: white;

    background-image: -gtk-gradient (linear, left top, left bottom, from(grey));
}

.button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom, from(shade (grey, 1.06)));
}

.button:active {
    background-image: -gtk-gradient (linear, left top, left bottom, from(shade (grey, 0.85)));
}
